---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app overseerr
spec:
  interval: 15m
  chartRef:
    kind: OCIRepository
    name: app-template
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    crds: CreateReplace
    cleanupOnFail: true
    remediation:
      retries: 3
      strategy: uninstall
  rollback:
    recreate: true
    cleanupOnFail: true
  uninstall:
    keepHistory: false
  values:
    controllers:
      overseerr:
        annotations:
          reloader.stakater.com/auto: "true"

        containers:
          app:
            image:
              repository: ghcr.io/sct/overseerr
              tag: 1.34.0
              pullPolicy: IfNotPresent
            env:
              TZ: America/Los_Angeles
              OVERSEERR__INSTANCE_NAME: Overseer
              OVERSEERR__PORT: &port 5055
              OVERSEERR__APPLICATION_URL: &host-cluster "overseerr.${SECRET_DOMAIN}"
              OVERSEERR__LOG_LEVEL: info
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 5
            resources:
              requests:
                memory: "256M"
              limits:
                memory: "2048M"

    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch

    service:
      app:
        controller: *app
        ports:
          http:
            port: *port

    persistence:
      config:
        enabled: true
        existingClaim: ${VOLSYNC_CLAIM}
        advancedMounts:
          overseerr:
            app:
            - path: /app/config
      backup:
        enabled: true
        existingClaim: ceph-filesystem-${APP}-backups
        advancedMounts:
          overseerr:
            app:
            - path: /app/config/Backups

    route:
      app:
        hostnames:
        - "{{ .Release.Name }}.${SECRET_DOMAIN}"
        - "request.${SECRET_DOMAIN}"
        - "requests.${SECRET_DOMAIN}"
        parentRefs:
        - name: external
          namespace: kube-system
          sectionName: https
        rules:
        - backendRefs:
          - name: *app
            port: *port
