---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: frigate
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: frigate-secret
    template:
      data:
        PLUS_API_KEY: "{{ .PLUS_API_KEY }}"
        FRIGATE_GENAI_API_KEY: "{{ .FRIGATE_GENAI_API_KEY }}"
        FRIGATE_MQTT_SERVER: "{{ .FRIGATE_MQTT_SERVER }}"
        FRIGATE_MQTT_USERNAME: "{{ .FRIGATE_MQTT_USERNAME }}"
        FRIGATE_MQTT_PASSWORD: "{{ .FRIGATE_MQTT_PASSWORD }}"
        FRIGATE_CAMERA_1_HOST: "{{ .FRIGATE_CAMERA_1_HOST }}"
        FRIGATE_CAMERA_2_HOST: "{{ .FRIGATE_CAMERA_2_HOST }}"
        FRIGATE_CAMERA_3_HOST: "{{ .FRIGATE_CAMERA_3_HOST }}"
        FRIGATE_CAMERA_4_HOST: "{{ .FRIGATE_CAMERA_4_HOST }}"
  dataFrom:
  - extract:
      key: frigate
