# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- ./ocirespository.yaml
- ./certificate.yaml
- ../../../../components/cephfs-mounts/security-footage.yaml
- ./externalsecret.yaml
- ./helmrelease.yaml
generatorOptions:
  disableNameSuffixHash: true
  annotations:
    kustomize.toolkit.fluxcd.io/substitute: disabled
commonLabels:
  app.kubernetes.io/name: frigate
  app.kubernetes.io/instance: frigate
