---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app wyoming-piper
spec:
  interval: 15m
  chartRef:
    kind: OCIRepository
    name: app-template
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    crds: CreateReplace
    cleanupOnFail: true
    remediation:
      retries: 3
      strategy: uninstall
  rollback:
    recreate: true
    cleanupOnFail: true
  uninstall:
    keepHistory: false
  values:
    controllers:
      wyoming-piper:
        annotations:
          reloader.stakater.com/auto: "true"

        containers:
          app:
            image:
              repository: rhasspy/wyoming-piper
              tag: latest
              pullPolicy: IfNotPresent
            args:
            - --voice=en_US-lessac-medium
            env:
              TZ: America/Los_Angeles
              WYOMING_PIPER_DASHBOARD_USE_PING: true
              WYOMING_PIPER__INSTANCE_NAME: Wyoming-Piper
              WYOMING_PIPER__PORT: &port 10200
              WYOMING_PIPER__LOG_LEVEL: info
            resources:
              requests:
                memory: "256M"
              limits:
                memory: "8G"

    service:
      app:
        controller: *app
        ports:
          wyoming-piper:
            enabled: true
            primary: true
            port: *port
            protocol: TCP

    persistence:
      data:
        enabled: true
        existingClaim: ${VOLSYNC_CLAIM}
    # route:
    #   app:
    #     hostnames:
    #     - "{{ .Release.Name }}.${INGRESS_DOMAIN}"
    #     parentRefs:
    #     - name: internal
    #       namespace: kube-system
    #       sectionName: tcp
    #     rules:
    #     - backendRefs:
    #       - name: *app
    #         port: *port
