---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: media
components:
- ../../components/namespace
- ../../components/repos/app-template
- ../../components/sops

resources:
- ./autopulse/ks.yaml
- ./kometa/ks.yaml
- ./plex/ks.yaml
- ./plex-auto-languages/ks.yaml
- ./tautulli/ks.yaml
