---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: "${APP}-volsync"
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: "${APP}-volsync-secret"
    template:
      data:
        KOPIA_FS_PATH: /repository
        KOPIA_PASSWORD: "{{ .KOPIA_PASSWORD }}"
        KOPIA_REPOSITORY: filesystem:///repository
  dataFrom:
    - extract:
        key: volsync-template



    # RESTIC_REPOSITORY: s3:https://${CLOUDFLARE_RESTIC_REPO}/${CLUSTER_NAME}/pvcs/${NAMESPACE}/${APP}
    # # The repository encryption key
    # RESTIC_PASSWORD: ${RESTIC_PASSWORD}
    # # ENV vars specific to the chosen back end
    # # https://restic.readthedocs.io/en/stable/030_preparing_a_new_repo.html
    # AWS_ACCESS_KEY_ID: ${CLOUDFLARE_AWS_ACCESS_KEY_ID}
    # AWS_SECRET_ACCESS_KEY: ${CLOUDFLARE_AWS_SECRET_ACCESS_KEY}