---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: downloads
components:
- ../../components/namespace
- ../../components/repos/app-template
- ../../components/sops

resources:
- ./bazarr/ks.yaml
#   - ./coder/ks.yaml
#   - ./lidarr/ks.yaml
#   - ./maintainerr/ks.yaml
- ./overseerr/ks.yaml
- ./prowlarr/ks.yaml
- ./radarr/ks.yaml
#   - ./recyclarr/ks.yaml
- ./sabnzbd/ks.yaml
- ./sonarr/ks.yaml
