---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app esphome
spec:
  interval: 15m
  chartRef:
    kind: OCIRepository
    name: app-template
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    crds: CreateReplace
    cleanupOnFail: true
    remediation:
      retries: 3
      strategy: uninstall
  rollback:
    recreate: true
    cleanupOnFail: true
  uninstall:
    keepHistory: false
  values:
    controllers:
      esphome:
        annotations:
          secret.reloader.stakater.com/reload: esphome-secrets,esphome-deploykey
          reloader.stakater.com/auto: "true"
        pod:
          # annotations:
          #   # DO NOT ENABLE
          #   # Enabling this adds an extra default route to the container. My IoT network is locked down tight and results in failed external DNS lookups
          #   # k8s.v1.cni.cncf.io/networks: home-automation-iot-dhcp
          #   k8s.v1.cni.cncf.io/networks: |
          #     [{
          #       "name":"multus-iot",
          #       "namespace": "network",
          #       "ips": ["10.10.100.12/24"],
          #       "mac": "aa:e9:02:a4:7e:78"
          #     }]
          securityContext:
            runAsUser: 0
            runAsGroup: 1000
            fsGroup: 1000
            fsGroupChangePolicy: OnRootMismatch

        containers:
          app:
            image:
              repository: esphome/esphome
              tag: 2025.11
              pullPolicy: IfNotPresent
            env:
              TZ: America/Los_Angeles
              ESPHOME_DASHBOARD_USE_PING: true
              ESPHOME__INSTANCE_NAME: ESPHome
              ESPHOME__PORT: &port 6052
              ESPHOME__APPLICATION_URL: &host "esphome.${INGRESS_DOMAIN}"
              ESPHOME__LOG_LEVEL: info
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 5
            resources:
              requests:
                memory: "256M"
              limits:
                memory: "8G"
            ## DO NOT ADD THIS. Causes it to not be able to build due to permissions. Needs a custom container image
            # securityContext:
            #   allowPrivilegeEscalation: false
            #   readOnlyRootFilesystem: true
            #   capabilities:
            #     drop:
            #     - ALL
          code-server:
            image:
              repository: ghcr.io/coder/code-server
              tag: 4.106.3@sha256:1a0e813039c8f01404a89654278779ac77492b833bc2d126431268b9b1f1e40a
            args:
            - --auth
            - none
            - --disable-telemetry
            - --disable-update-check
            - --user-data-dir
            - /config/.code-server
            - --extensions-dir
            - /config/.code-server
            - --port
            - "12321"
            - /config
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 512Mi

    defaultPodOptions:
      affinity:
        podAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
          - labelSelector:
              matchExpressions:
              - key: app.kubernetes.io/name
                operator: In
                values: [ "multus" ]
            topologyKey: kubernetes.io/hostname
            namespaceSelector: {}

    service:
      app:
        controller: *app
        ports:
          http:
            port: *port
          code-server:
            port: &code-server-port 12321

    persistence:
      config:
        enabled: true
        existingClaim: ${VOLSYNC_CLAIM}
        advancedMounts:
          esphome:
            app:
            - path: /config
            code-server:
            - path: /config
      cache:
        type: emptyDir
        advancedMounts:
          esphome:
            app:
            - path: /cache # ESPHome auto detect a folder at `/cache` and will use that instead
      deploy-key:
        type: secret
        name: esphome-secret
        defaultMode: 256
        advancedMounts:
          esphome:
            code-server:
            - path: /home/coder/.ssh/id_ed25519
              subPath: id_ed25519
            - path: /home/coder/.ssh/id_ed25519.pub
              subPath: id_ed25519.pub

    route:
      app:
        hostnames: [ "{{ .Release.Name }}.${SECRET_DOMAIN}" ]
        parentRefs:
        - name: envoy-internal
          namespace: network
          sectionName: https
        rules:
        - matches:
          - path:
              type: PathPrefix
              value: /code/
          filters:
          - type: URLRewrite
            urlRewrite:
              path:
                type: ReplacePrefixMatch
                replacePrefixMatch: /
          backendRefs:
          - name: *app
            port: *code-server-port
        - backendRefs:
          - name: *app
            port: *port
