apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: "${SECRET_DOMAIN}"
spec:
  secretName: "lldap-cert"
  issuerRef:
    name: letsencrypt-production
    kind: ClusterIssuer
  commonName: "lldap.${SECRET_DOMAIN}"
  dnsNames:
  - "lldap.${SECRET_DOMAIN}"
  - "ldap.${SECRET_DOMAIN}"
