---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app lldap
spec:
  interval: 15m
  chartRef:
    kind: OCIRepository
    name: app-template
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    crds: CreateReplace
    cleanupOnFail: true
    remediation:
      retries: 3
      strategy: uninstall
  rollback:
    recreate: true
    cleanupOnFail: true
  uninstall:
    keepHistory: false
  values:
    controllers:
      lldap:
        annotations:
          reloader.stakater.com/auto: "true"

        containers:
          app:
            image:
              repository: ghcr.io/lldap/lldap
              tag: v0.6.2
              pullPolicy: IfNotPresent
            env:
              TZ: "${TIMEZONE}"
              LLDAP_HTTP_PORT: &port 80
              LLDAP_HTTP_URL: "https://lldap-ui.${SECRET_DOMAIN}"
              LLDAP_LDAP_PORT: &ldapPort 389
              LLDAP_LDAP_BASE_DN: dc=elcarpenter,dc=com
              LLDAP_IGNORED_USER_ATTRIBUTES: "[ enable, expire, comment, keys ]"
              LLDAP_LDAPS_OPTIONS__CERT_FILE: "/certs/tls.crt"
              LLDAP_LDAPS_OPTIONS__KEY_FILE: "/certs/tls.key"
              LLDAP_LDAPS_OPTIONS__ENABLED: "true"
              LLDAP_LDAPS_OPTIONS__PORT: &ldapsPort 636
            envFrom: &envFrom
              - secretRef:
                  name: lldap-secret
            resources:
              requests:
                cpu: 5m
                memory: 36M
              limits:
                memory: 128M
        pod:
          topologySpreadConstraints:
          - maxSkew: 1
            topologyKey: kubernetes.io/hostname
            whenUnsatisfiable: DoNotSchedule
            labelSelector:
              matchLabels:
                app.kubernetes.io/name: *app

    service:
      app:
        controller: *app
        type: LoadBalancer
        annotations:
          io.cilium/lb-ipam-ips: ${LB_LLDAP}
          external-dns.alpha.kubernetes.io/hostname: lldap.${SECRET_DOMAIN}
        ports:
          http:
            port: *port
          ldap:
            port: *ldapPort
          ldaps:
            port: *ldapsPort

    persistence:
      data:
        enabled: true
        existingClaim: ${VOLSYNC_CLAIM}
      cert:
        enabled: true
        type: secret
        name: lldap-cert
        globalMounts:
        - path: /certs/

    route:
      app:
        hostnames: [ "{{ .Release.Name }}-ui.${SECRET_DOMAIN}" ]
        parentRefs:
        - name: envoy-internal
          namespace: network
          sectionName: https
        rules:
        - backendRefs:
          - name: *app
            port: *port
