apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: "${SECRET_DOMAIN}-hyperhdr"
spec:
  secretName: "hyperhdr-cert"
  issuerRef:
    name: letsencrypt-production
    kind: ClusterIssuer
  commonName: "hyperhdr.${SECRET_DOMAIN}"
  dnsNames:
  - "hyperhdr.${SECRET_DOMAIN}"
