---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: default

components:
- ../../components/namespace
- ../../components/repos/app-template
- ../../components/sops

resources:
- ./atuin/ks.yaml
- ./echo/ks.yaml
