argcomplete==3.6.3
cachetools==7.0.5
certifi==2026.2.25
charset-normalizer==3.4.6
click==8.3.1
durationpy==0.10
google-auth==2.49.1
idna==3.11
kubernetes==35.0.0
oauthlib==3.3.1
packaging==26.0
pipx==1.11.0
platformdirs==4.9.4
pyasn1==0.6.3
pyasn1_modules==0.4.2
python-dateutil==2.9.0.post0
PyYAML==6.0.3
requests==2.33.1
requests-oauthlib==2.0.0
rsa==4.9.1
six==1.17.0
urllib3==2.6.3
userpath==1.9.2
websocket-client==1.9.0
