argcomplete==3.6.3
cachetools==6.2.4
certifi==2026.1.4
charset-normalizer==3.4.4
click==8.3.1
durationpy==0.10
google-auth==2.47.0
idna==3.11
kubernetes==34.1.0
oauthlib==3.3.1
packaging==25.0
pipx==1.8.0
platformdirs==4.5.1
pyasn1==0.6.1
pyasn1_modules==0.4.2
python-dateutil==2.9.0.post0
PyYAML==6.0.3
requests==2.32.5
requests-oauthlib==2.0.0
rsa==4.9.1
six==1.17.0
urllib3==2.6.2
userpath==1.9.2
websocket-client==1.9.0
