---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./secret.sops.yaml
  - ../../../../components/cephfs-mounts/backup.yaml
  - ../../../../components/cephfs-mounts/downloads-folder.yaml
  - ../../../../components/cephfs-mounts/tv-folder.yaml
  - ./helmrelease.yaml
generatorOptions:
  disableNameSuffixHash: true
  annotations:
    kustomize.toolkit.fluxcd.io/substitute: disabled
labels:
  - pairs:
      app.kubernetes.io/name: sonarr
      app.kubernetes.io/instance: sonarr
