---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app radarr
spec:
  interval: 15m
  chartRef:
    kind: OCIRepository
    name: app-template
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    crds: CreateReplace
    cleanupOnFail: true
    remediation:
      retries: 3
      strategy: uninstall
  rollback:
    recreate: true
    cleanupOnFail: true
  uninstall:
    keepHistory: false
  values:
    global:
      nameOverride: *app

    controllers:
      radarr:
        annotations:
          reloader.stakater.com/auto: "true"

        containers:
          app:
            image:
              repository: ghcr.io/home-operations/radarr
              tag: 6.0.3.10276
              pullPolicy: IfNotPresent
            env:
              TZ: America/Los_Angeles
              RADARR__APP__INSTANCENAME: Radarr
              RADARR__APP__THEME: dark
              RADARR__SERVER__PORT: &port 7878
              RADARR__APPLICATION_URL: &host "radarr.${SECRET_DOMAIN}"
              RADARR__AUTH__METHOD: Forms
              RADARR__AUTH__REQUIRED: Enabled
              RADARR__LOG_LEVEL: info
              RADARR__UPDATE__BRANCH: develop
              RADARR__LOG__DBENABLED: "False"
            envFrom: &envFrom
              - secretRef:
                  name: radarr-secret
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /ping
                    port: *port
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: [ "ALL" ] }
            resources:
              requests:
                cpu: 1m
                # limits:
                #   memory: 2Gi

    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch

    service:
      app:
        controller: *app
        ports:
          http:
            port: *port

    persistence:
      config:
        enabled: true
        existingClaim: ${VOLSYNC_CLAIM}
      config-cache:
        existingClaim: radarr-cache
        globalMounts:
        - path: /config/MediaCover
      tmp:
        type: emptyDir
      movies:
        enabled: true
        existingClaim: ceph-filesystem-${APP}-movies
        advancedMounts:
          radarr:
            app:
            - path: /mnt/unionfs/Media/Movies/
      downloads:
        enabled: true
        existingClaim: ceph-filesystem-${APP}-downloads
        advancedMounts:
          radarr:
            app:
            - path: /mnt/unionfs/downloads
      backup:
        enabled: true
        existingClaim: ceph-filesystem-${APP}-backups
        advancedMounts:
          radarr:
            app:
            - path: /config/Backups

    route:
      app:
        hostnames:
        - "{{ .Release.Name }}.${SECRET_DOMAIN}"
        parentRefs:
        - name: envoy-external
          namespace: network
          sectionName: https
        rules:
        - backendRefs:
          - name: *app
            port: *port
