---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: plex-auto-languages
  namespace: media
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  maxHistory: 2
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      main:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          main:
            image:
              repository: docker.io/remirigal/plex-auto-languages
              tag: v1.2.3
            env:
              TZ: America/Los_Angeles
              PLEX_URL: http://plex.media.svc.cluster.local:32400
              REFRESH_LIBRARY_ON_SCAN: false
              PLEX_TOKEN: "${PLEX_TOKEN}"
              UPDATE_LEVEL: "show"
              UPDATE_STRATEGY: "all"
              TRIGGER_ON_PLAY: "true"
              TRIGGER_ON_SCAN: "true"
              TRIGGER_ON_ACTIVITY: "false"
              SCHEDULER_ENABLE: "true"
              SCHEDULER_SCHEDULE_TIME: "04:30"
              NOTIFICATIONS_ENABLE: "true"
              # need to figure out how to do a list of env vars
              # NOTIFICATIONS_APPRISE_CONFIGS
              DEBUG: "false"
            resources:
              requests:
                cpu: 50m
                memory: 128M
              limits:
                memory: 1024M
    persistence:
      config:
        enabled: true
        type: emptyDir
      local:
        type: emptyDir
        globalMounts:
        - path: /.local
    service:
      main:
        enabled: false
