---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app plex
  namespace: &namespace media
spec:
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  components:
  - ../../../../components/volsync/replicationsource.yaml
  dependsOn:
  - name: rook-ceph-cluster
    namespace: rook-ceph
  - name: intel-device-plugin-gpu
    namespace: kube-system
  interval: 1h
  path: ./kubernetes/apps/media/plex/app
  postBuild:
    substituteFrom:
    - name: cluster-secrets
      kind: Secret
    substitute:
      APP: *app
      NAMESPACE: *namespace
      GATUS_PATH: /web/index.html
      VOLSYNC_CAPACITY: 400Gi
      VOLSYNC_CACHE_CAPACITY: 100Gi
      VOLSYNC_CLAIM: *app
      VOLSYNC_STORAGECLASS: ceph-blockpool-nvme
  prune: true
  retryInterval: 2m
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: *namespace
  timeout: 5m
  wait: false
